<p>Welcome </p>

 <p>
    <strong>Id</strong>: <%= userProfile.id %><br>
    <strong>Email</strong>: <%= userProfile.emails[0].value %><br>
    <strong>Name</strong>: <%= userProfile.displayName %>
</p> 
<a href="/users/login">logout</a>